# Problem Solving and Programming
### Date 12-June-2019
### Day Objectives
- string slicing
- Functions In Python
- Basic Problems related to conditional statements using functions
- Iterations in Python
- python Data Structures -Lists,Tuples and Dictionaries
- Basic operations on Data Structures
- Applying Data Structures  to solve problems

# String - Slicing

In [4]:
s = "python"
s1 = "Avinash chekuri"
s1[len(s1)-1]
s1[-2]

'r'

In [11]:
s1[-2]
s1[4:]
s1[-8::2]

' hkr'

In [12]:
# Accesing all charecters except first and last character
s1

'Avinash chekuri'

In [13]:
s1[1:-1]

'vinash chekur'

In [14]:
s1.reverse()

AttributeError: 'str' object has no attribute 'reverse'

In [21]:
s1[len(int(s1)//2)]

ValueError: invalid literal for int() with base 10: 'Avinash chekuri'

In [24]:
s1[-1:0:-1]
s1[::-1]
# acessing last two charectors in reverse string
s1[-1:-3:-1]

'ir'

In [27]:
#reverse the middle two chareters i an even length string
s1[len(s1)//2:len(s1)//2-2:-1]

' h'

In [32]:
#Acessing alternative charecters in a string
k="python"
k[::2]

'pto'

In [33]:
k[::-2]

'nhy'

In [34]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# Functions

In [35]:
def reversestring(s):
    print(s[::-1])
reversestring("python")

nohtyp

In [38]:
# function to check if a string is a palindrome
def palindrome(s):
    if s==s[::-1]:
        return True
    else:
        return False
palindrome("bob")

True

In [42]:
#write a function 
def leapyear(year):
    if(year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)):
        print(True)
    else:
        print(False)
leapyear(2020)

True

In [47]:
def lp(year):
    import calendar
    print(calendar.isleap(year))
lp(2020)

True

In [48]:
# function to identify the greatest of 4 numbers
def greatestnumber():
    a=int(input("Enter the first No"))
    b=int(input("Enter the Second No"))
    c=int(input("Enter the Thrid No"))
    d=int(input("Enter the Fourth No"))

    if (a>b and a>c) and a>d:
   
       print(a,"is the Greatset")

    elif (b>c and b>a) and b>d :
   
       print(b,"is the Greatset")
    elif (c>a and c>b) and c>d :
   
       print(c,"is the Greatset")
    else:
   
       print(d,"is the Greatset")
greatestnumber()

Enter the first No22
Enter the Second No44
Enter the Thrid No66
Enter the Fourth No55
66 is the Greatset

In [49]:
def countdigit(m):
    return len(str(m))
countdigit(4543646)

7

# iterations
## for loop
## while loop

In [56]:
#define to print n natural numbers
def natural(n):
    for i in range(1,n+1):
        print(i)
natural(10)

1
2
3
4
5
6
7
8
9
10

In [63]:
#define to print n natural numbers in reverse order
def natural(n):
    for i in range(n,0,-1):
        print(i,end=" ")
    print()
natural(10)
natural(30)

10 9 8 7 6 5 4 3 2 1
30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [59]:
# sum of n numbers
def sumofn(n):
    c=0
    sum=0
    for i in range(1,n+1):
        c=c+1
        sum=sum+i
    print(sum)
sumofn(10)

55

In [65]:
#define to print n natural numbers using while loop
def natural(n):
    i=0
    while i < n:
        i=i+1
        print(i)
natural(10)

1
2
3
4
5
6
7
8
9
10

In [106]:
#function to print all numbers divisible by 6 and not a factor of 100 in a given 
# range(lb,ub) inclusive
def allnum(lb,ub):
    for i in range(lb,ub+1):
        if(i%6==0 and i%100!=0):
            print(i,end = " ")
allnum(100,200)

102 108 114 120 126 132 138 144 150 156 162 168 174 180 186 192 198

In [113]:
#function to find the average of cubes of all even numbers
#in a given range(lb,ub) inclusive
def avg_cube(lb,ub):
    c=0
    s=0
    for i in range(lb,ub+1):
        if i%2 == 0:
            s=s+i**3
            c=c+1
    print(s/c)
        
avg_cube(1,3)

8.0

In [110]:
#function to generate the list of factors for given number
#12 -->1 2 3 4 6 12
def print_factors(x):
   print("The factors of",x,"are:")
   for i in range(1, x + 1):
       if x % i == 0:
           print(i,end =" ")
print_factors(12)

"""#sum of factors
def print_factors(x):
   print("The factors of",x,"are:")
   for i in range(1, x + 1):
       if x % i == 0:
           print(i,end =" ")
print_factors(12)"""

The factors of 12 are:
1 2 3 4 6 12

In [83]:
#function to calculate the factorial of a given number
def factorial(f):
    if f == 0:
        return 1
    else:
        return f * factorial(f-1)
f=int(input("enter a factiorial no:"))
print(factorial(f))

"""
def fact(n):
    f=1
    for in range(2,n+1):
        f

Input a number to compute the factiorial : 4
24

In [123]:
#function to check given number is prime or not
def prime(n):
    for i in range(2, n):
        if n % i == 0:
            return(n, "is not a prime number")
    return(n,"it is a prime number")
prime(11)

(11, 'it is a prime number')

In [130]:
#function to calculate the average first n prime numbers
def avg_prime(n):
    c=0
    sum=0
    seqc=2
    while c<n:
        if prime(seqc):
            c=c+1
            sum=sum+seqc
        seqc +=1
    return sum/n
avg_prime(10)

6.5

In [21]:
#function to print the alternative values in a range
#[500,550]->inclusive   500 502 504 ......550
#(500,550)->exclusive  501 503 505.....549
"""def alternative():
    for i in range(500,550+1):
        if i%2==0:
            print(i,end = " ")
        
alternative()

def alt(start,end):
    for i in range(start,end+1,2):
        print(i,end=" ")
    return
alt()"""

#reverse of agiven range
def alt(start,end):
    for i in range(end,start,-1):
        #s=str(i)
        print(i,end=" ")
    return
alt(500,525)

525 524 523 522 521 520 519 518 517 516 515 514 513 512 511 510 509 508 507 506 505 504 503 502 501

In [36]:
#function to print the odd number in a reverse order in a given range
def reverse_odd(lb,ub):
    for i in range(ub,lb-1,-1):
        if i%2!=0:
            print(i,end=" ")
    return
reverse_odd(1,10)

9 7 5 3 1

In [37]:
#function to calculate the sum of numbers in a range
def sum_range(s,e):
    sum=0
    for i in range(s,e+1):
        sum=sum+i
    return sum
sum_range(100,200)

15150

In [42]:
#function to calculate the average in a range
def avg_num(lb,ub):
    sum=0
    c=0
    for i in range(lb,ub+1):
        sum=sum+i
        #c=c+1
        
    return sum//(ub-lb)
avg_num(1,5)

3

In [55]:
#function to generate all leap years in a given time period 
#2000 - 2020 ->2000 2004 2008 2012 2016 2020
# Function to generate the leap year in a given time Period
# 2000 -2020 ---> 2000 2004 2008 2012 2016 2020

def lyear(year):
   if year % 400 == 0 or (year % 100 != 0 and year % 4 == 0):
       return True
   return False
  
def generateLeapYears(startYr,endYr):
  for year in range(startYr,endYr+1):
      if lyear(year):
          print(year,end=" ")
  return


generateLeapYears(1919,2020)

2000 2004 2008 2012 2016 2020

In [ ]:
# function to generate all perfect numbers in a given range

# Advanced Problem Set(optional)
- Function to calculate average of all factorials in a given range
- Function to generate N odd armstrong numbers
- function to generate multiplication table
   - 10 th table of range(100,101)

In [31]:
#Function to calculate average of all factorials in a given range

def factorial(f):
    fact=1
    sum=0
    c=0
    for i in range(1,f+1):
        fact=fact*i
        sum=sum+fact
        c=c+1
        avg=sum//c
    return avg
factorial(7)

844

In [33]:
def mtable(lb,ub):
    m=10
    for n in range(lb,ub+1):
        print(m,"*",n,"=",m*n)
    return
mtable(100,110)

10 * 100 = 1000
10 * 101 = 1010
10 * 102 = 1020
10 * 103 = 1030
10 * 104 = 1040
10 * 105 = 1050
10 * 106 = 1060
10 * 107 = 1070
10 * 108 = 1080
10 * 109 = 1090
10 * 110 = 1100

In [57]:
#function to calculate no of days in a given time period of years
def year_days(s,e):
    days=0
    for i in range (s,e+1):
        if lyear(i)==str(i):#lyear is a funtion previously we defined above
            days=days+366
        else:
            days=days+365
    return days
year_days(1990,2019)

10950

In [82]:
#function to calculate number of hours for a given period (month1,year1.month2,year2)
#(11,1975,03,1999)
#[all days from feb 2016 todec 2016,
#  all days for years b/w 2016 and 2019,
#    all days from jan to june 2019
#
# number of  hours(2,2017,6,2019)
#no of hours = 24*noof days
#3 steps
    #1. start month year to end of d year--calculate no of 
    #2.calculate days for all years b/w start year to end year
        #2017,2018*365 *
    #3.calculate dasys from jan to end of the month
# Excluding Feb
# First six months - 1,3,4,5,6,7
                    #All odd months have 31 days
                    #All even months have 30 days
#Last six months-- 8,9,10,11,12
                    #All even months have 31 days
                    #all months have 30 days
#31 days -(month <= 7 and month%2!=0) and m%2!=0 and month 8 and lf 
                                   #   returm 13
                                    #else
                                        #return 30
        
        
        
        
        
def days_in_month(month,year):
    if month==2:
        if lyear(year):
            return 29
        return 28
    elif (month<=7 and month%2!=0) or (month >=8 and month%2==0):
        return 31
    else:
        return 30
days_in_month(5,2019)


def daysinstartyear(smonth,syear):
    days=0
    for m in range(smonth,13):
        days+= days_in_month(smonth,syear)
    return  days

def daysinendyear(endmonth,endyear):
    days=0
    for month in range(1,endmonth+1):
        days +=days_in_month(month,endyear)
    return days

def numberofhours(smonth,syear,endmonth,endyear):
    days=0
    days+=daysinstartyear(smonth,syear)
    days+=daysinendyear(endmonth,endyear)
    if endyear-syear == 2: #2019-2017
        days+=year_days(syear+1,syear+1)
    elif endyear-syear>2:
        days+=year_days(syear+1,endyear-1)
    return 24 * days
numberofhours(11, 1975, 3,1999)

205080

In [90]:
# Function to calculate no of hours for a given period
# (12 1993, 3,1999)
# 2,2016 . 6,2019
#  [All days from feb 2016 to dec 2016,
#   all days for years between start and end,
#   all days from Jan to June 2019]
# No of hours = 24 * No of days
# 3 steps
   # 1. start month year to end of year - calculate no of 
   # 2. Calculate days for all years between start year 
       # 2017,2018 = 365 * no of years
   # 3.calculate days from jan to end month year
# Excluding Feb 
# First Six Months - 1,3,4,5,6
                   # all Odd month have 31 days
                   # All even months have 30 days
# Last Six Months - 8,9,10,11,12
                   # all even month have 31 days
                   # All odd months have 30 days
       
# 31 days - (months <=7  and month % 2!= 0 and month != 2)|| (month >=8 and  )
              # return 31
 #          else
           
#               return 30


def numberofDaysMonth(month,year):
   if month ==2:
       if lyear(year):
           return 29
       return 28
   elif (month <= 7 and month % 2!= 0) or (month>= 8 and month % 2 == 0):
       return 31
   else:
       return 30
     
numberofDaysMonth(4, 2019)

def daysinstartyear(startmonth,startyear):
   days = 0
   for month in range(startmonth,13):
       days += numberofDaysMonth(month,startyear)
   return days

daysinstartyear(1,2020)

def daysInEndYear(endmonth,endyear):
   days=0
   for month in range(1,endmonth+1):
       days += numberofDaysMonth(month,endyear)
   return days
   
daysInEndYear(2,2019)

def numberOfHours(startmonth,startyear,endmonth,endyear):
   days = 0
   days += daysinstartyear(startmonth,startyear)
   days += daysInEndYear(endmonth,endyear)
   if endyear - startyear == 2: # 2019 -2017
       days += year_days(startyear+1, startyear+1)
   elif endyear - startyear > 2:
       days += year_days(startyear+1, endyear-1)
   return 24 * days

numberOfHours(11,1975, 3,1999)

205104

In [80]:
#function to check armstorng number or not
def armstorng(n):
    s=0
    l=len(n)
    for i in n:
        s=s+pow(int(i),l)
    if(s==int(n)):
        return True
    else:
        return False

armstorng(str(153))

True

In [70]:
#function to generate armstong number in a given range
def arm_storng(m,n):
    for i in range(m,n+1):
        if (armstorng(i)==True and i%2==1) :
            print(i,end=" ")
        else:
            continue
m=int(input("enter minimum value"))
n=int(input("enter maximum value"))
arm_storng(m,n)

enter minimum value1
enter maximum value500

TypeError: object of type 'int' has no len()

#####