In [2]:
# function to print all combinations of pairs of integers in a unique list
# [1,2,3]-->(1,2),(1,3),(2,3)  ---> 3c2 -> 3!/((3-2)!*2!)
# [1,2,3,4]-->1,2 1,3 1,4 2,3 2,4 3,4
#wiht out using the formula 

def combinations2(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
                print(li[i],li[j])
    return 
#combinations2([1,2,3,4])
    
def combinations3(li):
    for i in range(len(li)-2):
        for j in range(i+1,len(li)-1):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return 
combinations3([1,2,3,4,5])

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [3]:
def DifferencePairs(li):
    
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j]) 
            if d not in li:
                li.append(d)
    return li
DifferencePairs([1,9,8])

[1, 9, 8, 7, 2]

In [2]:
def DifferencePairs(li):
    newelements=[]
    cli=li
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j]) 
            if d not in cli:
                newelements.append(d)
    li.extend(newelements)
    return [cli,li]
DifferencePairs([1,9,8])

[[1, 9, 8, 7], [1, 9, 8, 7]]

In [ ]:
def medium(li,k):
    count=1
    while True:
        li3=diffpairs(li)
        if li3[0] == li3[1]:
            break
    if len(li3[0]) >=k:
        return sorted(li3[0],reverse=True)[k-1]
    return -1
medium([1,9,8])

In [ ]:
"""def DifferencePairs(li):
    #newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            p=abs(li[i]-li[j]) 
            if p not in li:
                li.append(p)
                DifferencePairs(li)
    
    return li
DifferencePairs([1,9])"""

In [ ]:
[4,8]
[20,40,60]
[4,8,12,16]
[3,,6,9,12]
#Convert the list into an Arithemtic progression
[3,8,15]
[3,8,15,5,2,1,4,6,7,9,10,11,12,13,114]

In [4]:
def diffpairs(li):
    
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return li

li=[3,6,9,12,2]
diffpairs(li)

[3, 6, 9, 12, 2, 1, 4, 7, 10]

## Set -Data structure in python
- Represents {}

In [9]:
a={1,2,3,4,5,6}
a.add(7) # adding a single element
a
#for i in a:
   # print(i,end=" ")

1 2 3 4 5 6 7

In [10]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [15]:
b={7,8,9}
a.update(b)
a
li=[11,12,13,-1,0,"avi"]
a.update(li)
a

{-1, 0, 1, 11, 12, 13, 2, 3, 4, 5, 6, 7, 8, 9, 'avi'}

In [17]:
a.discard(13)
a

{-1, 0, 1, 11, 12, 2, 3, 4, 5, 6, 7, 8, 9, 'avi'}

In [29]:
a={10,2,1,4,5,6}
b={7,8,9,1,2,3}
c={111,4444}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [25]:
a.intersection(b)

{1, 2}

In [30]:
a.isdisjoint(b)
a.isdisjoint(c)

True

In [31]:
a-b

{4, 5, 6, 10}

In [32]:
b-a

{3, 7, 8, 9}

In [41]:
c=a.difference(b)
c
b.difference_update(c)
b
c
#sorted(a)
#a^b #represent element either in a or in b

{4, 5, 6, 10}

In [42]:
d=set() #creates empty set
type(d)

set

In [44]:
li=[1,2,3,4,2,1,2,3,4]
u=set(li)
u

{1, 2, 3, 4}

In [ ]:
Procedural :c

Object Oriented : Java,Python 

Scripting : PhP,Python,Java Script,Shel
    
Functional : Python ,Haskell,Scala

Logic: Prolog<, Lisp

# List Comprehensions

In [45]:
# List of N natural numbers
n = 10
li=[]
for i in range(1,n+1):
    li.append(i)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
# Applylist comprehension to store the cubes on n natural numbers

li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [56]:
# function to calculate the factorial 
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n-1)
factorial(5)

120

In [57]:
n=10
factorialList = [factorial(i) for i in range(1,n+1)]
factorialList

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [67]:
#calculate or store cumulative sum of numbers till n in a list
#n=3   [1,3,6]

n=6      
#cumulative=[sum([i]) for i in range(1,n+1)]
#cumulative

cumulative=[sum(range(1,i+1)) for i in range(1,n+1)]
cumulative

[1, 3, 6, 10, 15, 21]

In [70]:
# List comprehension to store only leap years in a given time period
st=1970
et=2019
leapyears=[i for i in range(st,et+1) if (i % 400 == 0 )or (i % 100 !=0 and (i % 4==0))]
leapyears

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [85]:
li=[1,2,3,2,1]
#unique=[]
#unique=[unique1.append(i) for i in li if i not in unique1]
unique=[li.pop(li.index(i, li.index(i)+1)) for i in a if li.count(i) > 1]
unique

[1, 2]

In [88]:
list1=[1,2,3,1,2,4,4,5,6,6]
uni=[i for n, i in enumerate(list1) if i not in list1[:n]]
uni

[1, 2, 3, 4, 5, 6]

## Iterators

Iterable - Strings,Lists,Tuples,Sets,Dictionaries

convert Iterable to to Iterator-->iter()

For Loop:

Iterator:

In [94]:
it = iter("Python")
for i in it:
    return (next(it))

SyntaxError: 'return' outside function (<ipython-input-94-353fa2c7db12>, line 3)

## Generator

Generator is Function

In [3]:


def generator():
    n = 2
    yield n
    
    n = n ** 3
    yield n
    
    n = n ** 3
    yield n
a=generator()
next(a)
next(a)
next(a)

512

In [6]:
def generator1():
    n=2
    for i in range(1,5):
        n **=3
        yield n
b=generator1()
next(b)
next(b)
next(b)

134217728